#pokemonDetails {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 70px;
}

#cont-details {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: center;
  height: auto;
  align-items: flex-start;
}

#backToList {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: black;
  color: white;
  text-align: center;
  line-height: 50px;
  color: yellow;
  opacity: 0.8;
}

.to-info {
  border: none;
  background: black;
  color: yellow;
  font-family: "Bangers", cursive;
  font-size: 1.2em;
}

.pokemon-info-section {
  position: relative;
  width: 250px;
  background-color: white;
  text-align: left;
  padding: 20px;
  margin: 20px;
  margin-bottom: 15px;
  border: 1px solid #cacfd2;
  /* box-shadow: 2px 2px 4px 4px #283747; */
  overflow: hidden;
  height: auto;
  box-shadow: 2px 2px 2px 1px grey;
  border: 1px solid white;
}

.image-section {
  width: 500px;
}

.image-section #cont-images {
  width: 100%;
  text-align: center;
}

@media (max-width: 1264px) {
  .image-section {
    width: 584px;
  }
}

@media (max-width: 684px) {
  .pokemon-info-section {
    width: 100% !important;
  }
}
