#languageSelection {
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0;
  text-align: center;
  color: yellow;
  background: black;
  z-index: 2;
  line-height: 45px;
  opacity: 0.9;
}

#languageSelection div#languages {
  display: inline;
}

#languageSelection .image-lang {
  cursor: pointer;
  margin-bottom: -3px;
}
